@charset "UTF-8";
/* 제일 상단의 메뉴 */
.headerTop a {
    text-decoration: none;
    float: right;
    margin-right: 30px;
    margin-top: 30px;
    font-size: 14px;
    color: #333;
}

.headerTop a:hover {
	color: #75BC46;
}

img {
	width: 200px;
	margin-left: 45%;
	margin-top: 25px;
	margin-bottom: 30px;
}

ul {
	list-style-type: none;
	position: fixed;
  	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #264429;
	position: -webkit-sticky; 
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
}

li {
	float: left;
	width: 20%;
	line-height: 55px;
	text-align: center;
}

li a {
	display: block;
	color: white;
	text-decoration: none;
	font-size: 18px;
}

li a:hover {
	color: #fff;
	text-decoration: none;
	background-color: #264429;
}

/* 선택된 메뉴 표시 */
.active {
	background-color: #264429;
}

.results tr[visible='false'],
.no-result{
  display:none;
}

.results tr[visible='true']{
  display:table-row;
}

.counter{
  padding:8px; 
  color:#ccc;
}

.pagination {
	width: 200px;
	margin: 0 auto;
	margin-top: 50px;
}
